streamlit==1.0.0
watchdog==2.1.6
numpy
tensorflow-cpu==2.4.0
opencv-python-headless
matplotlib==3.3.3
Pillow==8.1.1
streamlit-webcam-example==0.1.0
scipy
htbuilder
streamlit_drawable_canvas==0.8.0
pandas
altair
